@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&family=JetBrains+Mono:wght@400;500&display=swap');
@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-mono: "JetBrains Mono", ui-monospace, SFMono-Regular, monospace;
  
  --color-deep-space-blue: #003049;
  --color-flag-red: #d62828;
  --color-vivid-tangerine: #f77f00;
  --color-sunflower-gold: #fcbf49;
  --color-vanilla-custard: #eae2b7;

  @keyframes shimmer {
    100% {
      transform: translateX(100%);
    }
  }
}

body {
  @apply font-sans text-zinc-900 dark:text-zinc-100 bg-[#F8F9FA] dark:bg-zinc-950 antialiased;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #e4e4e7;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #d4d4d8;
}
